/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: rgba(245, 245, 239, 0.33);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 90vh; /* Ensures it fills most of the viewport */
  background: var(--white);
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Left Section */
.custom-left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-logo {
  width: 127.68px;
  height: 120px;
  position: absolute;
  top: 10%;
}

.custom-illustration img {
  width: 75%;
  margin-top: 80px;
  border-radius: 29px;
  margin-left: 45px;
}

/* Right Section */
.custom-right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-logo-pos-right {
  display: none;
}

.custom-right-section h3 {
  font-size: var(--font-size-large);
  color: #000;
  margin-bottom: 10px;
}

.custom-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: rgba(236, 182, 95, 0.518);
  border-radius: 33px;
  padding: 7.5px 10px;
}

.custom-buttons button {
  width: 112px;
  height: 33px;
  border-radius: 33px;
  border: none;
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

.custom-buttons button:hover {
  background-color: var(--accent-color);
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}

.custom-login {
  background: var(--accent-color);
}

.custom-register {
  background: transparent;
}

h4 {
  font-size: var(--font-size-medium);
  color: #5b5b5b;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 435px;
  font-family: var(--font-family);
}

label {
  font-size: var(--font-size-medium);
  color: #000;
  margin-bottom: 5px;
}
.custom-input-group {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 40px;
  padding: 10px;
  font-size: var(--font-size-small);
  color: #acacac;
  margin-bottom: 20px;
  font-family: var(--font-family);
}



.custom-eye-btn {
  position: absolute;
  right: 12px;
  top: 37%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

/* Options */
.custom-options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #000;
  align-items: center;
}

.custom-check-box {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.custom-check-box input[type="checkbox"] {
  transform: scale(2); /* Shrinks the checkbox */
  width: 12px;
  height: 12px;
  margin-top: 3px;
  cursor: pointer;
}

.custom-options a {
  color: #000;
}

/* Login Button */
.custom-login-btn {
  width: 232px;
  height: 49px;
  background: var(--accent-color);
  border-radius: 35px;
  border: none;
  color: var(--white);
  font-size: var(--font-size-medium);
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
}

p {
  font-size: 10px;  
  color: #000;
  margin-left: auto ;
  margin-right: 10px;
  padding-top: 10px;
}

p a {
  color: var(--accent-color);
}

/* Responsive Styles */
@media screen and (max-width: 1090px) {
  
  form {
    width: 90%;
  }



  .custom-login-btn {
    width: 200px;
  }

  .custom-illustration img {
    width: 90%;
    margin-left: 10px;
  }

  .custom-container {
    width: 85%;
    padding: 15px;
  }

  .custom-options a {
    margin-bottom: 12px;
  }

  .custom-login-btn {
    width: 200px;
    margin: 20px auto 0;
    display: block;
  }

  p {
    margin: auto;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  h3 {
    display: none;
  }

  .custom-left-section {
    display: none;
  }

  .custom-right-section {
    width: 100%;
    max-width: 90%;
    text-align: center;
    padding-bottom: 10px;
  }

  .custom-logo-pos-right {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .custom-logo-right {
    width: 100px;
    height: auto;
  }

  .custom-buttons {
    justify-content: center;
  }

  form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  label {
    display: block;
    text-align: left;
    
}

  input {
    width: 100%;
  }

  .custom-login-btn {
    width: 100%;
    max-width: 280px;
    height: 45px;
    font-size: var(--font-size-medium);
    margin: 20px auto 0;
    display: block;
  }

  .custom-container {
    width: 80%;
    min-height: auto;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h4 {
    font-size: var(--font-size-small);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  label{
    font-size: var(--font-size-small);
  }
  /* Options */

.custom-check-box {
  display: flex;
  gap: 10px;
}

.custom-check-box input[type="checkbox"] {
  width: 8px;
}

  .custom-options a{
    font-size: 10px;
  }
  .custom-login-btn{
    width: 150px;
  }
}
